// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;

// Include the common styles for Angular Material.
@include mat.core();

// Define the palettes inspired by GitHub's dark theme
$custom-dark-primary: mat.define-palette(mat.$grey-palette, 800);  // Dark shade for primary
$custom-dark-accent: mat.define-palette(mat.$blue-palette, A200, A100, A400);  // Angular Material's default pink accent colors
$custom-dark-warn: mat.define-palette(mat.$red-palette);  // Red for warnings

// Create the dark theme object
$custom-dark-theme: mat.define-dark-theme((
  color: (
    primary: $custom-dark-primary,
    accent: $custom-dark-accent,
    warn: $custom-dark-warn,
  )
));

// Include theme styles for core and each component used in your app.
@include mat.all-component-themes($custom-dark-theme);

/* You can add global styles to this file */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.icon-with-text {
  display: flex;
  align-items: center;

  /* Optional: Add some space between the icon and text */
  gap: 0.5rem;
}
